{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "comma-dangle": "off",
    "quotes": "off",
    "semi": "off",
    "object-curly-spacing": "off",
    "brace-style": "off",
    "no-negated-condition": "off",
    "radix": "off",
    "no-mixed-operators": "off",
    "indent": "off",
    "operator-linebreak": "off",
    "max-depth": "off",
    "no-lonely-if": "off",
    "lines-between-class-members": "off"
  }
}
